* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.hamburger {
	display: none;

	@media only screen and (max-width: 768px) {
		display: block;
		cursor: pointer;
	}

	&__bar {
		display: block;
		width: 2.5rem;
		height: 0.3rem;
		margin: 0.5rem auto;
		transition: all 0.3s ease-in-out;
		background-color: black;
	}

	.active {
		&__bar:nth-child(2) {
			@media only screen and (max-width: 768px) {
				opacity: 0;
			}
		}
	}

	.active {
		&__bar:nth-child(1) {
			@media only screen and (max-width: 768px) {
				transform: translateY(0.8rem) rotate(45deg);
			}
		}
	}

	.active {
		&__bar:nth-child(3) {
			@media only screen and (max-width: 768px) {
				transform: translateY(-0.8rem) rotate(-45deg);
			}
		}
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media only screen and (max-width: 768px) {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;

		&.active {
			left: 0;
		}
	}

	&__item {
		margin-left: 5rem;
		font-size: 1.6rem;
		font-weight: 400;

		@media only screen and (max-width: 768px) {
			margin: 2.5rem 0;
		}
	}
}

.nav-logo {
	font-size: 2rem;
	font-weight: 500;
}
